@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'custom';

//Customisation du header
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 1050;
  padding: 8px;
}

//Navbar 
.navbar {
  border-radius: 12px;
  background-color: $dark;
}
.navbar-collapse {
  background-color: $dark;
  border-radius: 0 0 12px 12px;
  width: 100%;
  padding: 1rem;
  z-index: 1040;
}
.navbar-nav {
  list-style: none;
  margin-left: auto;
}
.nav-link {
  font-size: 2rem;
  color: $secondary;
  padding-right: auto;
}
//Navbar Mobile
@media (max-width: 576px) {
  .navbar-collapse {
    padding: 1rem;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.nav-link {
  font-size: 1rem;
}
}

//Postionnement du footer 
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0.5rem 0;
  background-color: $dark;
}

//Customisation du body
body {
  padding: 120px 2% 100px 2%;
  background-color: $black;
}
@media (max-width: 576px) {
  body {
    padding: 80px 2% 100px ;
  }
}

//Customisation des blocs
.bloc {
  margin-top: 12px;
  padding: 12px 12px;
  background-color: $dark;
  border-radius: 2rem;
}

//Customisation Carousel Accueil
.carousel-inner {
  height: 60vh;
}

.carousel-item {
  height: 100%;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//Customisation du carousel des événements
#eventCarousel .carousel-inner {
  height: auto;
  min-height: 400px;
}

#eventCarousel .carousel-item {
  height: auto;
  min-height: 400px;
}

// Version mobile pour le carousel des événements
@media (max-width: 576px) {
  #eventCarousel .carousel-inner {
    min-height: 600px;
  }
  
  #eventCarousel .carousel-item {
    min-height: 600px;
  }
  
  #eventCarousel .event-carousel-item .row {
    flex-direction: column;
    height: auto;
  }
  
  #eventCarousel .event-carousel-img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
  }
  
  #eventCarousel .event-carousel-text-col {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }
}

//Customisation de la liste d'évènements
.event-list {
  font-size: 1.2rem;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

//Customisation des éléments de liste
.event-in-list {
  padding: 4px 8px;
  width: fit-content;
}

//Customisatiion du bloc fil de commentaire
#commentsList {
  background-color: $black;
}